<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @phone.number %>
</p>
<p>
  <b>Possible Number:</b>
  <%= @phone.possible_number %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
